<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<!-- Meta Tage -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="MNABI - Personal CV / Resume / Portfolio HTML5 Template">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Web Site Title -->
	<title> Blog Page - MNABI - Personal CV / Resume / Portfolio HTML5 Template</title>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
	<!-- 
		Stylesheet
	==================================== -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-3.3.7.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/normalize-5.0.0.css">
	<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="assets/css/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="assets/css/owl.transitions.css">
	<link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="assets/css/animate.css">
	<!-- Custom Style  -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>
<body>
	<!-- 
		Preloader
	==================================== -->
	<div class="MnabiPreloder">
		<div class="spinner"></div>
	</div>
	
	<!-- 
		Blog Banner
	===================================== -->
	<section id="blog-banner" class="overlay_bg parallax-bg">
		<div class="container">
			<h2 class="bb-titile">latest Blog Post</h2>
			<div class="bb-breadcurmbs">
				<ol class="breadcrumb">
					<li><a href="pages/index.html">Home</a></li>
					<li class="active">Blog</li>
				</ol>
			</div>
		</div>
	</section>

	<!-- 
		Navigation
	===================================== -->
	<nav class="navigation-area stickyNav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="brand-logo"><a class="" href="pages/index.html"><img src="assets/img/logo.png" alt="Sobuj4u"></a></div>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav ">
					<li class="smooth-scroll"><a href="#home">Home <span class="sr-only">(current)</span></a></li>
					<li class="smooth-scroll"><a href="#About">About Me</a></li>
					<li class="smooth-scroll"><a href="#experiacne">Experience</a></li>
					<li class="smooth-scroll"><a href="#portfolio">Portfolio</a></li>
					<li class="smooth-scroll active"><a href="#blog">blog</a></li>
					<li class="smooth-scroll"><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- 
		Recent Post
	===================================== -->
	<section id="blog-post" class="spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<!-- Blog- Content Start -->
					<div class="blog-content">
						<div class="row">
							<div class="col-md-12">
								<div class="blog_single_item blog_page_content wow fadeInUp">
									<div class="blog_box_bg blog_box_bg_1"></div>
									<div class="blog_box">
										<div class="blog_meta">
											<span><i class="fa fa-calendar"></i> 15 April, 2017</span>
											<span><a href="#"><i class="fa fa-user"></i> Adimin</a></span>
										</div>
										<div class="blog_content">
											<h3><a href="blog.html" target="_blank">The standard chunk of Lorem Ipsum.</a></h3>
											<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
											<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
										</div>
									</div>
								</div>
								<!-- Comments Box -->
								<div class="coments_box">
									<h2 class="wow fadeInUp">COMMENTS</h2>
									<ul class="media-list">
										<li class="media wow fadeInUp">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="assets/img/blog/cmt/1.jpg" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4>Jesus M. Clark : <span>2 days ago</span> </h4>
												<p>Beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire. There are many variations of but the majority have suffered alteration in some form,</p>
												<a href="#">Reply <i class="fa fa-reply"></i></a>
												<div class="media wow fadeInUp">
													<div class="media-left media-middle">
														<a href="#">
															<img class="media-object" src="assets/img/blog/cmt/2.jpg" alt="...">
														</a>
													</div>
													<div class="media-body">
														<h4>Ruben B. Newport : <span>2 days ago</span> </h4>
														<p>Beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire. There are many variations of but the majority have suffered alteration in some form,</p>
														<a href="#">Reply <i class="fa fa-reply"></i></a>
													</div>
												</div>
											</div>
										</li>
										<li class="media wow fadeInUp">
											<div class="media-left">
												<a href="#">
													<img class="media-object" src="assets/img/blog/cmt/3.jpg" alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4>Joyce C. Dozier : <span>2 days ago</span> </h4>
												<p>Beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire. There are many variations of but the majority have suffered alteration in some form,</p>
												<a href="#">Reply <i class="fa fa-reply"></i></a>
												<div class="media wow fadeInUp">
													<div class="media-left media-middle">
														<a href="#">
															<img class="media-object" src="assets/img/blog/cmt/4.jpg" alt="...">
														</a>
													</div>
													<div class="media-body">
														<h4>David J. Hough : <span>2 days ago</span> </h4>
														<p>Beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire. There are many variations of but the majority have suffered alteration in some form,</p>
														<a href="#">Reply <i class="fa fa-reply"></i></a>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!-- Comments Form -->
								<div class="comment_form">
									<h2 class="wow fadeInUp">LEAVE YOUR COMMENT</h2>
									<form action="pages/index.html" class="wow fadeInUp">
										<div class="name_filed">
											<input class="form-control" type="text" placeholder="Firts Name" required="">
											<input class="form-control" type="text" placeholder="Last Name" required="">
										</div>
										<textarea class="form-control" placeholder="Massage"></textarea>
										<div class="form_button">
											<button class="manbi-btn" type="submit">Send</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- Blog Pagination -->
						<div class="blog-pagination">
							<ul class="">
								<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</div>
					</div><!-- Blog- Content End -->
				</div>
				<div class="col-md-4">
					<!-- Blog- Sidebar Start -->
					<div class="blog-sidebar">
						<!-- search box widget -->
						<div class="search-box wow fadeInUp">
							<form action="#">
						        <input type="text" class="form-control" placeholder="Search...">
						        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</form>
						</div>
						<!-- latest post widget -->
						<div class="latest-post-widget wow fadeInUp">
							<div class="section-title text-center">
								<h2>Recent Post</h2>
								<div class="divider divider-center"></div>
							</div>
							<div class="recent_post">
								<a href="#"><img src="assets/img/blog/1.jpg" alt="recent post"></a>
								<div class="recent_post_content">
									<a href="#">Lorem ipsum dolor sit amet, consectetur.</a>
									<div class="blog_meta">
										<span><i class="fa fa-calendar"></i> 15 April, 2017</span>
										<span><a href="#"><i class="fa fa-user"></i> Adimin</a></span>
									</div>
								</div>
							</div>
							<div class="recent_post">
								<a href="#"><img src="assets/img/blog/1.jpg" alt="recent post"></a>
								<div class="recent_post_content">
									<a href="#">Lorem ipsum dolor sit amet, consectetur.</a>
									<div class="blog_meta">
										<span><i class="fa fa-calendar"></i> 15 April, 2017</span>
										<span><a href="#"><i class="fa fa-user"></i> Adimin</a></span>
									</div>
								</div>
							</div>
							<div class="recent_post">
								<a href="#"><img src="assets/img/blog/1.jpg" alt="recent post"></a>
								<div class="recent_post_content">
									<a href="#">Lorem ipsum dolor sit amet, consectetur.</a>
									<div class="blog_meta">
										<span><i class="fa fa-calendar"></i> 15 April, 2017</span>
										<span><a href="#"><i class="fa fa-user"></i> Adimin</a></span>
									</div>
								</div>
							</div>
							<div class="recent_post">
								<a href="#"><img src="assets/img/blog/1.jpg" alt="recent post"></a>
								<div class="recent_post_content">
									<a href="#">Lorem ipsum dolor sit amet, consectetur.</a>
									<div class="blog_meta">
										<span><i class="fa fa-calendar"></i> 15 April, 2017</span>
										<span><a href="#"><i class="fa fa-user"></i> Adimin</a></span>
									</div>
								</div>
							</div>
						</div>
						<!-- categories widget -->
						<div class="categories-widget latest-post-widget wow fadeInUp">
							<div class="section-title text-center">
								<h2>categories</h2>
								<div class="divider divider-center"></div>
							</div>
							<div class="categories-item">
								<ul>
									<li><a href="#">WordPress <span>(25)</span></a></li>
									<li><a href="#">web developmnet <span>(15)</span></a></li>
									<li><a href="#">web design <span>(35)</span></a></li>
									<li><a href="#">graphics Design <span>(20)</span></a></li>
									<li><a href="#">SEO <span>(10)</span></a></li>
									<li><a href="#">Forum <span>(25)</span></a></li>
									<li><a href="#">App Develpmen <span>(17)</span></a></li>
									<li><a href="#">Web Aplication <span>(30)</span></a></li>
								</ul>
							</div>
						</div>
						<!-- Tag List -->
						<div class="categories-widget latest-post-widget wow fadeInUp">
							<div class="section-title text-center">
								<h2>Tag List</h2>
								<div class="divider divider-center"></div>
							</div>
							<div class="tags">
								<ul class="tag_list">
									<li><a href="#">Design</a></li>
									<li><a href="#">code</a></li>
									<li><a href="#">local</a></li>
									<li><a href="#">css</a></li>
									<li><a href="#">javascript</a></li>
									<li><a href="#">local</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">code</a></li>
									<li><a href="#">local</a></li>
								</ul>
							</div>
						</div>
						<!-- social link widget -->
						<div class="social-widget latest-post-widget wow fadeInUp">
							<div class="section-title text-center">
								<h2>Social Link</h2>
								<div class="divider divider-center"></div>
							</div>
							<div class="social-link social-link-widget">
								<ul>
									<li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
									<li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
									<li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
									<li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
									<li><a href="#"> <i class="fa fa-pinterest-p"></i> </a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Blog- Sidebar End -->
				</div>
			</div>
		</div>
	</section>

	<!-- 
		ScrollToTop
	==================================== -->
	<div class="ScrollToTop">
		<a href="#"><i class="fa fa-angle-up"></i></a>
	</div>

	<!-- 
		Footer Section
	===================================== -->
	<footer id="footer" class="wow fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="footer-copyihgt">
						&copy; All rights reserved © 2017 <span>MNABI</span>. Designed By <a href="https://themeforest.net/user/webcode4u" target="_blank"><span>WebCode4u</span> </a> 
					</div> 
				</div>
				<div class="col-sm-4">
					<div class="social-link text-right">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- 
		Plugins JS
	==================================== -->
	<script type="text/javascript" src="assets/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap-3.3.7.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.mixitup.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.js"></script>
	<script type="text/javascript" src="assets/js/waypoints.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.counterup.min.js"></script>
	<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="assets/js/wow.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.sticky.js"></script>
	<script type="text/javascript" src="assets/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="assets/js/typed.min.js"></script>
	<script type="text/javascript" src="assets/js/contact-form.js"></script>
	<!-- 
		Custom Js
	==================================== -->
	<script type="text/javascript" src="assets/js/active.js"></script>
</body>
</html>